*{
    background-color: white;
}
body{
   
}
ul{
    list-style-type: none;
    align-content: center;
}
#answer-button{
    display: flex;
  align-items: center;
  justify-content: center;
}
#question{
    display: flex;
    align-items: center;
    justify-content: center;
  }

button{ 
    background-color: purple;
    color: white;
    position:relative;
}


.head {
    top: 15%;
    right: 43%;
    margin: 0;
    padding: 0;
    position:absolute;
}
.rules {
    top: 25%;
    right: 28%;
    margin: 0;
    padding: 0;
    position:absolute;
    word-wrap: break-word;
    text-align: center;
}


.timer {
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    text-align: right;
    position: absolute;
}

.highscore {
margin: 0;
padding: 0;
top: 0;
left: 0;
position: absolute;
}

.start-button{
    margin: 0;
    position: absolute;
    top: 40%;
    right: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.btn{
    bottom: 50%;
    display: block;
}



@media  screen and (min-width: 550px)  {
    
}

